@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #3870CF;
}

.navbar-nav a {
    color: white;
    font-family: 'Poppins', sans-serif;
}

.btn {
    border-radius: 23px;
}

.banner-image {
    background-image: url(../image/banner.png);
    background-size: cover;
}

.banner-image h1 {
    margin-top: 129px;
    margin-left: 191px;
    position: absolute;
    font-weight: 700;
    font-size: 3em;
    color: #1C2661;
}

.banner-image .content {
    padding: 150px 0 158px;
}

.banner-image .content .row {
    color: white;
    text-align: left;
}

.banner-image .content .row .btn {
    font-size: medium;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.profil {
    margin: 170px 0px 0px;
}

.profil .card {
    background-image: url(../image/Rectangle2.png);
    background-size: cover;
    border: none;
    margin: 0px 120px 100px;
}

.profil .card .card-body {
    margin: 30px;
}

.profil .card h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    color: #1C2661;
    font-size: revert;
}

.profil .card p {
    text-align: justify;
    color: #3A3B41;
}

.video .text-center h1 {
    color: #1C2661;
    font-weight: bolder;
}

.video .text-center p {
    color: #3A3B41;
}

.video .link img:hover {
    transform: scale(1.1);
}

button {
    border: none;
    background: none;
}

.video .link img {
    width: 50%;
}

.modal-dialog {
    max-width: 800px;
    margin: 30px auto;
}

.modal-body {
    position:relative;
    padding:0px;
}
.btn-close {
    position:absolute;
    right:-30px;
    top:0;
}

.keunggulan {
    margin: 166px 70px 166px;
}

.keunggulan h1 {
    margin: 0px 0px 100px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    color: #1C2661;

}

.keunggulan .text h4 {
    color: #FF5555;
    font-family: 'Poppins', sans-serif;
}

.keunggulan .text h2 {
    color: #404040;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 700;
}

.keunggulan .row {
    text-align: center;
}

.keunggulan .row .col-4 img {
    margin-bottom: 50px;
}

.keunggulan .row h4 {
    color: #404040;
    font-family: 'Poppins', sans-serif;
}

.keunggulan .row p {
    color: #787878;
    font-family: 'Poppins', sans-serif;
}

.Guru {
    background: linear-gradient(to right, #3A75D1, #54BBEC, #54BBEC); 
    /* margin-top: 10em; */
    margin: 0px 0px 145px;
}

.Guru .row h1 {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: bolder;
}

.Guru .row h4 {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.Guru .row a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}

.Guru .row a:hover {
    color: #1C2661;
}

.Guru .row {
    margin: 30px;
}

.Guru .row .col-3 img {
    width: 100%;
    margin: 0px 0px 20px;
}

.Guru .row .col-3 h5, p {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.Guru .card {
    background: none;
}

.Guru .card-box img:hover {
    transform: scale(1.1);
}

/* media queries */
@media only screen and (min-width: 768px) and (max-width: 991px){
    .section-padding {
        width: 100%;
    }
}

@media only screen and (max-width: 767px){

    .banner-image .content img {
        width: 50%;
        margin: auto;
    }

    .banner-image .content h1 {
        margin: 44px 207px 0px;
        font-size: 1em;
    }

    .keunggulan .row .col-4 img {
        width: 70px;
    }

    .keunggulan .row div {
        padding: 10px;
        width: 500px;
        height: 250px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .profil .card {
        margin: 0px 26px 80px;
    }

    .Guru .card-body .row .col-3 {
        padding: 10px;
        width: 500px;
        height: 400px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .Guru .card-body .row .col-3 img {
        width: 200px;
    }


}

@media only screen and (min-width: 1590px) {
    .banner{
        background-image: url();
    }

    .banner-img{
        display: block;
    }
}